<div class="wrapper  sticky">
	<div class="back-bar">
		<div class="buttons">
			<a id="back" class="button" href="/">
				{{ '/src/_svgs/left-arrow.svg' | svgContents }}
			</a>
		</div>

		<div class="buttons right">
			<a class="button" href="/about/">
				{{ '/src/_svgs/info.svg' | svgContents }}
			</a>
			<a class="button" href="/search/">
				{{ '/src/_svgs/search.svg' | svgContents }}
			</a>
			<button class="toggle-color-scheme">
				{{ '/src/_svgs/dark-mode.svg' | svgContents }}
			</button>
		</div>
	</div>
</div>