<div class="wrapper sticky">
	<header class="main">
		<h1 class="u-step-4 logo">11Feed</h1>
		<nav>
			<ul>
				<li><a href="/" class="active">All</a></li>
				{% for category in feeds.categories %}
					<li><a href="/categories/{{ category | slugify }}">{{ category }}</a></li>
				{% endfor %}
			</ul>
		</nav>

		<div class="buttons right">
			<a class="button" href="/search/" data-no-instant>
				{{ '/src/_svgs/search.svg' | svgContents }}
			</a>
			<button class="toggle-color-scheme">
				{{ "/src/_svgs/dark-mode.svg" | svgContents }}
			</button>
		</div>
	</header>
</div>