<div class="wrapper sticky">
	<header class="main">
		<h1 class="u-step-4 logo">11Feed</h1>
		<nav>
			<ul>
				<li><a href="/" {% if page.url == "/" %}class="active" {% endif %}>All</a></li>
				{% assign categories_length = collections.categories | size %}
				{% if categories_length > 1 %}
					{% for category in collections.categories %}
						<li><a href="{{ category.url }}" {% if page.url == category.url %}class="active"{% endif %}>{{ category.data.name }}</a></li>
					{% endfor %}
				{% endif %}
			</ul>
		</nav>

		<div class="buttons right">
			<a class="button" href="/search/">
				{{ '/src/_svgs/search.svg' | svgContents }}
			</a>
			<button class="toggle-color-scheme">
				{{ "/src/_svgs/dark-mode.svg" | svgContents }}
			</button>
		</div>
	</header>
</div>