a {
	text-decoration-thickness: .1ex;
	text-underline-offset: .3ex;
	text-decoration-color: #ccc;
	transition: 300ms;

	&, &:visited {
		color: #000;
	}

	&:hover {
		text-decoration-color: #111;
	}
}

p {
	line-height: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

ul li, ol li {
	line-height: 1.5rem;
	margin-bottom: .5rem;
}

ul ul, ol ul, ul ol, ol ol {
	margin-top: 0;
	margin-bottom: 0;
}

blockquote {
	line-height: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

table {
	margin-top: 1.5rem;
	border-spacing: 0px;
	border-collapse: collapse;
}

table td, table th {
	padding: 0;
	line-height: 33px;
}

code {
	vertical-align: bottom;
}

body {
	padding-bottom: 2rem;
	position: relative;
}

body > header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&.main {
		border-bottom: 1px dotted #e3e3e3;
		padding-bottom: 0.5rem;
	}

	.summary {
		margin-top: .5rem;
	}

	.logo {
		margin: 0 2rem 0 0;
	}

	nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		column-gap: .5rem;
		flex-wrap: wrap;

		li {
			margin: 0;
		}

		a.active, a.active:visited {
			color: #000;
			font-weight: bold;
			text-decoration-color: rgb(34, 180, 80);
		}

		a, a:visited {
			color: #555;

			&:hover {
				color: #000;
			}
		}
	}
}