---
layout: base.html
---
{% include "_back-nav.html" %}

<div class="wrapper">
	<main>
		<h2>My Feeds </h2>
		<p><a href="/feeds-list/opml-export.xml">Download OPML export</a></p>
		{% for category in collections.categorizedFeedsList %}
			<h3>{{ category[0] }}</h3>
			<ul>
			{% for feed in category[1] %}
				<li><h4><a href="/feeds/{{ feed.id }}/">{{ feed.title }}</a></h4> 
					<p>
						<em>
							<a href="{{ feed.url}}">Feed</a>
							{% if feed.link %}
								·
								<a href="{{ feed.link }}">Website</a>
							{% endif %}
						</em>
					</p>
				</li>
			{% endfor %}
			</ul>
		{% endfor %}
	</main>
</div>