---js
{
	pagination: {
		data: "collections.feedPosts",
		size: 1,
		alias: "post",
		addAllPagesToCollections: true
	},
	permalink: "/posts/{{ post.link | slug }}/",
	tags: "posts",
	layout: "base.html",
	eleventyComputed: {
		title: (data) => data.post.title,
		author: (data) => data.post.author,
		link: (data) => data.post.link,
		feedURL: (data) => data.post.feed.url,
		feedId: (data) => data.post.feed.id,
		feedTitle: (data) => data.post.feed.title,
		date: (data) => data.post.date,
		categories: (data) => data.post.feed.categories
	}
}
---
{% include "_back-nav.html" %}
<div class="wrapper">
	<header>
		<h1><a href="{{ link }}">{{ post.title }}</a></h1>
		{% include "_summary.html", feedId:post.feed.id feedTitle:post.feed.title date:post.date author:post.author %}
	</header>
</div>

<div class="wrapper">
	<main data-pagefind-body>
		<iframe scrolling="no" id="contentIframe" sandbox="allow-scripts allow-top-navigation-by-user-activation" class="contentIframe" width="100%" frameborder="0"></iframe>
	</main>
</div>
<script type="text/javascript" src="/assets/iframe-resizer.js"></script>
<script>
	function rerenderIframe() {
		let postContent = {{ post.content | markdownify | json }};
		setiFrameContent(postContent, document.getElementsByTagName('html')[0].classList.contains('dark-mode'), 'contentIframe');
	}

	document.documentElement.addEventListener("trigger-color-scheme", function() {
		rerenderIframe();
	}, false);

	rerenderIframe();
</script>